<footer>
  <section class="container columns">
    <div class="name quarter certer vertical hidden-phone">
      <h4>Grade</h4>
      <a href=""></a>
    </div>
    <div class="desc">
      {% assign version = page.language %}
      {% case version %}
      {% when 'pt' %}
      <p>Feito por <a href="http://elvessousa.com.br">Elves Sousa</a> em São Paulo.<br>
        <a class="language-link" href="{{ site.baseurl }}/">English version</a>
      </p>
      {% else %}
      <p>Made by <a href="http://elvessousa.com.br">Elves Sousa</a> in São Paulo.<br>
        <a class="language-link" href="{{ site.baseurl }}/pt">Versão em português</a>
      </p>
      {% endcase %}
    </div>
  </section>
</footer>
