{% capture header %}
<meta property="og:locale" content="en_US">

{% if page.title %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title }}">
{% else %}
<meta property="og:type" content="website">
{% endif %}

{% if site.title %}
<meta property="og:site_name" content="{{ site.title }}">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.url %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{% if site.fbid %}
<meta property="fb:app_id" content="{{ site.fbid }}">
{% endif %}

{% if page.date %}
<meta property="article:published_time" content="{{page.date | date_to_xmlschema}}">
{% endif %}

{% if page.thumbnail %}
<meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
{% endif %}

{% if site.owner_link %}
<meta property="article:author" content="{{ site.owner_link }}">
{% endif %}

{% endcapture %}{{ header | strip_newlines }}
