<!-- Colunas -->
<h3>Colunas</h3>
<p>Defina um número de colunas somente uma vez, não em cada elemento.</p>
<!-- Auto -->
<h4>Colunas automáticas</h4>
<p>Cria colunas automaticamente, de acordo com o número de elementos.</p>
<div class="columns">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
</div>
<!-- Code -->
{% highlight html %}
<div class="columns">
  <div class="sua-classe">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
</div>
{% endhighlight %}

<!-- Fixed -->
<h4>Colunas fixas</h4>
<p>Fixa o número de colunas. Pode-se usar <code>[número]-[query]</code> para especificar um número diferente em outra resolução.</p>
<div class="columns three one-phone one-mini">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
</div>
<!-- Code -->
{% highlight html %}
<div class="columns three one-phone one-mini">
  <div class="sua-classe">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
</div>
{% endhighlight %}

<!-- Stretch -->
<h4>Colunas esticadas</h4>
<p>No caso de suas colunas não derem um número exato, ou faltarem algumas para preencher o seu layout, use esta classe para esticar as colunas restantes e cobrir os espaços.</p>
<div class="four three-tablet one-mini stretch columns">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
{% highlight html %}
<div class="four three-tablet one-mini stretch columns">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
{% endhighlight %}

<!-- Stretch -->
<h4>Justificar colunas</h4>
<p>Justifique as colunas para usar todo o espaço disponível na linha.</p>
<div class="four three-tablet one-mini justify columns">
  <div class="content">
    <strong>Column 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
{% highlight html %}
<div class="four three-tablet one-mini justify columns">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
{% endhighlight %}

<h4>Distribuir colunas</h4>
<p>Distribua colunas uniformemente na linha.</p>
<div class="four three-tablet one-mini distribute columns">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>

<!-- Code -->
{% highlight html %}
<div class="four three-tablet one-mini distribute columns">
  [seu html]
</div>
{% endhighlight %}
<!-- No gutter -->
<h4>Sem margem</h4>
<p>Algumas vezes, quanto mais perto, melhor.</p>
<div class="four three-tablet one-mini stretch columns no-gutter">
  <div class="content">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="content">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="content">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="content">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="content">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
<!-- Code -->
{% highlight html %}
<div class="four three-tablet one-mini stretch columns no-gutter">
  <div class="sua-classe">
    <strong>Coluna 01</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 02</strong>
    <p>Pariatur adipisci non, blanditiis ad dolor fugit repudiandae.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 03</strong>
    <p>Placeat, sequi, facere. Repellendus blanditiis dolor.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 04</strong>
    <p>A nobis, dignissimos ipsam. Facere sequi, corrupti blanditiis?</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 05</strong>
    <p>Fuga dolorum distinctio voluptatem nesciunt distinctio nam.</p>
  </div>
  <div class="sua-classe">
    <strong>Coluna 06</strong>
    <p>Nam, quaerat blanditiis hic consequatur, libero non!</p>
  </div>
</div>
{% endhighlight %}

<!-- Lines -->
<section class="container">
  <h3>Linhas</h3>
  <!-- Auto -->
  <h4>Linhas automáticas</h4>
  <p>Cria linhas automaticamente, de acordo com o número de elementos.</p>
  <div class="columns three" style="height: 40vh">
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
      <div><strong>Linha 02</strong></div>
      <div><strong>Linha 03</strong></div>
    </div>
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
      <div><strong>Linha 02</strong></div>
    </div>
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
    </div>
  </div>
  <!-- Code -->
  {% highlight html %}
  <div class="columns three" style="height: 40vh">
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
      <div><strong>Linha 02</strong></div>
      <div><strong>Linha 03</strong></div>
    </div>
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
      <div><strong>Linha 02</strong></div>
    </div>
    <div class="content lines">
      <div><strong>Linha 01</strong></div>
    </div>
  </div>
  {% endhighlight %}
</section>

<!-- Grid -->
<h3>Grade</h3>
<p>Use a classes somente onde você precisa delas.</p>
<h4>Divisão</h4>
<div class="grid-demo">
  <div class="columns">
    <div class="item quarter">quarter</div>
    <div class="item"></div>
    <div class="item quarter">quarter</div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item quarter">quarter</div>
    <div class="item"></div>
    <div class="item quarter">quarter</div>
  </div>
  {% endhighlight %}
  <div class="columns">
    <div class="item"></div>
    <div class="item half">half</div>
    <div class="item"></div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item"></div>
    <div class="item half">half</div>
    <div class="item"></div>
  </div>
  {% endhighlight %}
  <div class="columns">
    <div class="item seventh">seventh</div>
    <div class="item"></div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item seventh">seventh</div>
    <div class="item"></div>
  </div>
  {% endhighlight %}
  <div class="columns stretch no-gutter">
    <div class="item eighth">eighth</div>
    <div class="item "></div>
    <div class="item half">half</div>
    <div class="item eleventh">eleventh</div>
  </div>
  {% highlight html %}
  <div class="columns stretch no-gutter">
    <div class="item eighth">eighth</div>
    <div class="item "></div>
    <div class="item half">half</div>
    <div class="item eleventh">eleventh</div>
  </div>
  {% endhighlight %}
  <h4>Multiply</h4>
  <div class="columns stretch no-gutter">
    <div class="item"></div>
    <div class="item ten-times">ten-times</div>
    <div class="item"></div>
    <div class="item eleventh">eleventh</div>
  </div>
  {% highlight html %}
  <div class="columns stretch no-gutter">
    <div class="item"></div>
    <div class="item ten-times">ten-times</div>
    <div class="item"></div>
    <div class="item eleventh">eleventh</div>
  </div>
  {% endhighlight %}
  <div class="columns no-gutter">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item three-times">three-times</div>
  </div>
  {% highlight html %}
  <div class="columns no-gutter">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item three-times">three-times</div>
  </div>
  {% endhighlight %}

  <!-- Reordering -->
  <h3>Reordenação</h3>
  <p>Use a class only where you need it.</p>
  <div class="columns">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item first">7</div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item first">7</div>
  </div>
  {% endhighlight %}
  <div class="columns">
    <div class="item last">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item last">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    <div class="item">7</div>
  </div>
  {% endhighlight %}

  <!-- Nested grid -->
  <h3>Grade aninhada</h3>
  <p>Vários níveis permitidos.</p>
  <div class="columns">
    <div class="item">
      <div class="columns">
        <div class="item quarter"></div>
        <div class="item">
          <div class="columns">
            <div class="item eighth"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item"></div>
    <div class="item half">
      <div class="columns">
        <div class="item"></div>
        <div class="item half">
          <div class="columns">
            <div class="item eighth"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
        </div>
        <div class="item"></div>
      </div>
    </div>
  </div>
  {% highlight html %}
  <div class="columns">
    <div class="item">
      <div class="columns">
        <div class="item quarter"></div>
        <div class="item"></div>
      </div>
    </div>
    <div class="item"></div>
    <div class="item half">
      <div class="columns">
        <div class="item"></div>
        <div class="item half"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>
  {% endhighlight %}
</div>

<!-- Positioning -->
<h3>Posicionamento</h3>
<div class="position-demo center all block columns">
  <div class="stuff to-top border text-center">
    <h4>No topo</h4>
    <small>Esta caixa tem a classe <code>to-top</code>.</small>
  </div>
  <div class="stuff border text-center">
    <h4>Centro</h4>
    <small>Este container tem as classes <code>center all</code>.</small>
  </div>
  <div class="stuff to-bottom border text-center">
    <h4>Abaixo</h4>
    <small>Esta caixa tem a classe <code>to-bottom</code>.</small>
  </div>
</div>
{% highlight html %}
<div class="position-demo center all block columns">
  <div class="stuff to-top border text-center">
    <h4>No topo</h4>
    <small>Esta caixa tem a classe <code>to-top</code>.</small>
  </div>
  <div class="stuff border text-center">
    <h4>Centro</h4>
    <small>Este container tem as classes <code>center all</code>.</small>
  </div>
  <div class="stuff to-bottom border text-center">
    <h4>Abaixo</h4>
    <small>Esta caixa tem a classe <code>to-bottom</code>.</small>
  </div>
</div>
{% endhighlight %}
<br>
<div class="position-demo center all block columns">
  <div class="stuff to-left border  quarter text-center">
    <h4>À esquerda</h4>
    <small>Esta caixa tem a classe <code>to-left</code>.</small>
  </div>
  <div class="stuff to-right border quarter text-center">
    <h4>À direita</h4>
    <small>Esta caixa tem a classe <code>to-right</code>.</small>
  </div>
</div>
{% highlight html %}
<div class="position-demo center all block columns">
  <div class="stuff to-left border  quarter text-center">
    <h4>À esquerda</h4>
    <small>Esta caixa tem a classe <code>to-left</code>.</small>
  </div>
  <div class="stuff to-right border quarter text-center">
    <h4>À direita</h4>
    <small>Esta caixa tem a classe <code>to-right</code>.</small>
  </div>
</div>
{% endhighlight %}

<!-- Visibility -->
<h3>Visibilidade</h3>
<p>Mostre e esconda com classe. Literalmente.</p>
<div class="grid-demo">
  <div class="columns">
    <div class="visible-mini">
      <h1><i class="fa fa-clock-o"></i></h1>
      <p class="text-center">Visible mini</p>
    </div>
    <div class="visible-phone">
      <h1><i class="fa fa-mobile"></i></h1>
      <p class="text-center">Visible phone</p>
    </div>
    <div class="visible-tablet">
      <h1><i class="fa fa-tablet"></i></h1>
      <p class="text-center">Visible tablet</p>
    </div>
    <div class="visible-desktop">
      <h1><i class="fa fa-desktop"></i></h1>
      <p class="text-center">Visible desktop</p>
    </div>
  </div>
  <div class="columns text-center visibility">
    <p class="hidden-mini"><i class="fa fa-clock-o"></i> <small>Hidden on mini</small></p>
    <p class="hidden-phone"><i class="fa fa-mobile"></i> <small>Hidden on phones</small></p>
    <p class="hidden-tablet"><i class="fa fa-tablet"></i> <small>Hidden on tablet</small></p>
    <p class="hidden-desktop"><i class="fa fa-desktop"></i> <small>Hidden on desktop</small></p>
  </div>
  {% highlight html %}
  <div class="visible-mini">
    <h1><i class="fa fa-clock-o"></i></h1>
    <p class="text-center">Visible mini</p>
  </div>
  <div class="visible-phone">
    <h1><i class="fa fa-mobile"></i></h1>
    <p class="text-center">Visible phone</p>
  </div>
  <div class="visible-tablet">
    <h1><i class="fa fa-tablet"></i></h1>
    <p class="text-center">Visible tablet</p>
  </div>
  <div class="visible-desktop">
    <h1><i class="fa fa-desktop"></i></h1>
    <p class="text-center">Visible desktop</p>
  </div>
  {% endhighlight %}
  {% highlight html %}
  <div class="columns text-center visibility">
    <p class="hidden-mini"><i class="fa fa-clock-o"></i> <small>Hidden on mini</small></p>
    <p class="hidden-phone"><i class="fa fa-mobile"></i> <small>Hidden on phones</small></p>
    <p class="hidden-tablet"><i class="fa fa-tablet"></i> <small>Hidden on tablet</small></p>
    <p class="hidden-desktop"><i class="fa fa-desktop"></i> <small>Hidden on desktop</small></p>
  </div>
  {% endhighlight %}
</div>

<!-- Embeds -->
<h3>Masonry</h3>
<p>Mostre suas imagens em colunas, sem qualquer javascript.</p>
<div class="mason four three-tablet two-phone">
  <div class="item">
    <img src="http://lorempixel.com/400/600/" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/400/400/" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/300/400/" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/400/200/" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/600/400/" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/400/1000/sports" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/600/400/animals" alt="Image">
  </div>
  <div class="item">
    <img src="http://lorempixel.com/300/500" alt="Image">
  </div>
</div>
{% highlight html %}
<div class="mason four three-tablet two-phone">
  <div class="item">
    [seu html aqui]
  </div>
</div>
{% endhighlight %}

<!-- Embeds -->
<!-- <section class="container">
<h3>Embeds</h3>
<p>Paste your embed, tell the proportion and boom... It just works.</p>
<div class="mason three two-phone">
<div class="item">
<h4>Widescreen (16:9)</h5>
<div class="embed widescreen">
<iframe width="560" height="315" src="https://www.youtube.com/embed/KJoP0dJyToo" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="item">
<h4>SD (4:3)</h4>
<div class="embed sd">
<iframe width="420" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="item">
<h4>Phone (9:16)</h4>
<div class="embed phone">
<iframe width="420" height="315" src="https://www.youtube.com/embed/8zykfY4WNJ4" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="item">
<h4>Cinema (2:35/1)</h4>
<div class="embed cinema-wide">
<iframe width='640' height='360' src='http://cache.vevo.com/assets/html/embed.html?video=GB1101500747&autoplay=0' frameborder='0' allowfullscreen></iframe>
</div>
</div>
<div class="item">
<h4>Square (1:1)</h4>
<div class="embed square">
<iframe src="https://vine.co/v/i15Am1uba61/embed/simple" width="480" height="480" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
</div>
</div>
</div>
{% highlight html %}
<div class="embed [widescreen | sd | phone | cinema-wide | square]">
<iframe width="560" height="315" src="https://www.youtube.com/embed/KJoP0dJyToo" frameborder="0" allowfullscreen></iframe>
</div>
{% endhighlight %}
</section>
</section> -->
