// ----------------------------------------------------
// Variables
// ----------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400,400i,700|Source+Code+Pro)

// Type
$title-font:    'Montserrat', Helvetica, Arial, sans-serif
$text-font:     'Montserrat', Helvetica, Arial, sans-serif
$code-font:     'Source Code Pro', Helvetica, Arial, sans-serif
$base-size:     1.05em
$line-height:   1.45
$huge-title:    fibonacci(5)
$big-title:     fibonacci(4)
$normal-title:  fibonacci(3)
$big-text:      fibonacci(2)
$small-text:    0.618em
$quote-text:    1.2em
$code-size:     1em
$light-weight:  100
$base-weight:   300
// Text colors
$accent-text:   #fff
$glow-text:     #fc0
$lightest-text: #fff
$light-text:    #999
$grey-text:     #666
$muted-text:    #ccc
$dark-text:     #333
$header-link:   #eee
$content-link:  #000
$darkest-text:  #000
$footer-link:   #5c5c5c
