@import "typevars"

body
  line-height: $line-height
  font:
    family: $text-font
    size: $base-size
    weight: $base-weight

pre
  font-size: 1em

a
  font:
    family: $title-font
    weight: $base-weight
  text-decoration: none
  transition: all .5s ease-in-out

  header &,
  .full-header &,
  .post-header &
    color: $header-link

  article &,
  p &
    color: $content-link
    &:hover
      color: lighten($content-link, 30%)

  footer &,
  footer p &,
    color: $footer-link
    &:hover
      color: #fff

a[href$=".zip"]
  padding: 1em
  background: #080
  color: #fff
  border-radius: 3px
  display: block
  margin: 10px auto
  text-align: center
  width: 10em
  max-width: 100%
  &:hover
    background: #0a0
    color: #fff


h1, h2, h3, h4
  font:
    family: $title-font
    weight: inherit
  margin: 1.414em 0 .5em
  line-height: 1.2

h1
  margin-top: 0
  font-size: $huge-title

  .masthead &
    font-size: $huge-title
    font-weight: 900

h2
  font-size: $big-title

h3
  font-size: $normal-title

h4
  font-size: $big-text

p
  .masthead &
    font-size: $big-text

blockquote
  font-size: $big-text
  font-style: italic
  cite
    text-align: center
    font-size: $small-text

small,
.font_small
  font-size: $small-text

img + em
  font-size: 1em

.site-link
  font-weight: $light-weight
  font-size: $normal-title
  line-height: normal
.site-url
  font-size: $small-text
  line-height: $small-text

.works
  .image a h4
    font-size: 1em

.social
  li
    font-size: 1.618em
    line-height: 1em

.language-link
  color: #666
  font-weight: 100
  &:hover
    color: #fff

footer
  .desc
    text-align: right

@media #{$phone}
  blockquote
    font-size: 1.2em
    text-align: left
    p
      margin: 0

  .masthead h1
    font-size: $big-title
    line-height: 1em

  .page-title
    font-size: $big-title
    line-height: 1em
    position: absolute
    bottom: 20px
    z-index: 1

  .page-header
    height: 50vh

  .site-link
    font-size: 1.618em

  footer
    h4
      margin: 0
    .desc
      text-align: right
