.grade {
  // ----------------------------------------------------
  // Columns
  // ----------------------------------------------------
  .#{$col-slug} {
    @include flexbox;
    box-sizing: border-box;
    flex-flow: row wrap;
    width: 100%;

    > * {
      @include flex(1, 1, 0);
      box-sizing: border-box;
      margin-right: $gutter;
      width: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    > li {
      list-style: none;
    }

    &.no-gutter {
      > * {
        margin-right: 0 !important;
      }
    }
  }
}
