<!DOCTYPE html>
<html>
{% include head.html %}

<body class="grade">
  {% include header.html %}
  <section class="full-header center all" >
    <div class="stuff">
      <img src="../../img/logo.png" alt="Image" width="256">
      <h1>Grade</h1>
      {% assign version = page.language %}
      {% case version %}
      {% when 'pt' %}
      <p>Uma grid em flexbox para seres humanos.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="elvessousa@icloud.com">
        <input type="hidden" name="lc" value="BR">
        <input type="hidden" name="item_name" value="Grade.css">
        <input type="hidden" name="item_number" value="Cafe">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="BRL">
        <input type="hidden" name="bn" value="PP-DonationsBF:pagueme.png:NonHostedGuest">
        <input type="image" src="http://grade.elvessousa.com.br/img/pagueme.png" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
      </form>
      {% else %}
      <p>A flexbox grid for humans.</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="4JM3QP3R8QZAC">
        <input type="image" src="http://grade.elvessousa.com.br/img/buyme.png" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
      </form>
      {% endcase %}
      
    </div>
  </section>
  {% include footer.html %}
</body>

</html>
