// -----------------------------------------------------------------------
//
//  FUNCTIONS
//  Creates the functions used in the styles.
//  Make sure you know what you're doing before altering this code.
//
//  - Prefixes
//  - Visibility
//  - Position
//  - Size
//  - Mason
//
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
// Fibonacci sequence
// ----------------------------------------------------------------------
@function fibonacci($n, $ratio: 1.618, $unit: em)
  $fib: 1 $ratio

  @for $i from 1 through $n
    $new: nth($fib, length($fib)) + nth($fib, length($fib) - 1)
    $fib: append($fib, $new)

  @return nth($fib, $n) + $unit

// ----------------------------------------------------
// Prefixes
// ----------------------------------------------------
=flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=flex($grow, $shrink, $basis)
  -webkit-box-flex: $grow $shrink
  -moz-box-flex: $grow $shrink
  -webkit-flex: $grow $shrink
  -ms-flex: $grow $shrink
  flex: $grow $shrink
  flex-basis: $basis

=order($val)
  -webkit-box-ordinal-group: $val
  -moz-box-ordinal-group: $val
  -ms-flex-order: $val
  -webkit-order: $val
  order: $val

// ----------------------------------------------------
// Visibility
// ----------------------------------------------------
=responsive-visibility($class)
  .visible-#{$class}
    display: block

  table,
  tr
    &.visible-#{$class}
      display: table
      display: table-row

  th,
  td
    &.visible-#{$class}
      display: table-cell

  span,
  small
    &.visible-#{$class}
      display: block

  a
    &.visible-#{$class}
      display: inline-block

=responsive-invisibility($class)
  $mediaclasses: mini phone tablet desktop
  @each $item in $mediaclasses
    @if $item != $class
      .visible-#{$item}
        display: none

// ----------------------------------------------------
// Position
// ----------------------------------------------------
=pos($pos: absolute, $top: 0, $left: 0, $bottom: 0, $right: 0)
  bottom: $bottom
  left: $left
  position: $pos
  right: $right
  top: $top

// ----------------------------------------------------
// Size
// ----------------------------------------------------
=size($height: auto, $width: auto)
  height: $height
  width: $width

// ----------------------------------------------------
// Mason
// ----------------------------------------------------
=mason($count)
  -moz-column-count: $count
  -webkit-column-count: $count
  column-count: $count
